.App {
  text-align: center;
}


.ant-select-item-option-content,
.ant-select-selection-item {
  min-width: 8rem;
}



.ant-select-single {
  margin-right: 1rem;
}

@media(max-width:600px){
  .ant-select-single {
    margin-right: 1rem;
    margin-top: 1rem;
  }
}